body {
    font-size: 18px;
}

#load_data {
    margin: auto;
    background-color: green;
    background-image: linear-gradient(green, lightgreen);
    color: #fff;
}

#udemy_report_data_submit {
    width: 100%;
    background-color: green;
    background-image: linear-gradient(green, lightgreen);
    color: #fff;
}

.small-box {
    text-align: center;
}

@media (min-width: 768px) {
    #ui_select_courses_compare .checkbox {
      margin-top: 30px;
    }
}